<form action="/posts" method="POST">
  <input type="hidden" name="_method" value="PUT">

  <p>
    <label>Title</label>
    <input type="text" name="title">
  </p>

  <p>
    <label>Content</label>
    <textarea name="content"></textarea>
  </p>

  <input type="submit" value="Submit" id="submit">
</form>