<h1>Write a New Post</h1>


<form action="/posts" method="POST">
  <p>
    <label>Title</label></br>

    <input type="text" name="title">
  </p>

  <p>
    <label>Content</label></br>

    <textarea name="content"></textarea>
  <p>
    <input type="submit">
  </p>
</form>